section.hero {
  background: #F8F8F8;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #ee4f4f;
}

nav li:last-child a:hover {
  background: #b23301;
}

nav li a {
  transition: all 0.2s ease-in-out;
}

nav li a:hover {
  color: #ee4f4f;
}

.size {
  background: #F8F8F8;
}

.add-to-cart {
  border: 2px solid #ee4f4f;
  color: #ee4f4f;
  transition: all 0.2s ease-in-out;
}

.add-to-cart:hover {
  background: #ee4f4f;
  border-color: #fff;
  color: #fff;
}

