<head>
    <link rel="icon" href="img/icon.png">
</head>

<section class="status">
    <div class="container mx-auto">
        <div class="status-box w-full lg:w-2/3 mx-auto">
            <div class="flex items-center justify-between mb-6">
                <span><img class="w-6 img-zoom mr-2" src="/img/icons/tracking.png" alt=""></span>
                <h1 class="flex-1 text-xl font-bold">Live status</h1>
                <h6 class="bg-gray py-1 img-zoom rounded-full px-4 text-green-600 text-xs"><%= order._id %></h6>
                <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">
            </div>
            <ul>
                <li class="status_line text-sm md:text-xl pb-16" data-status="order_placed"><span>Order Placed</span></li>
                <li class="status_line text-sm md:text-xl pb-16" data-status="confirmed"><span>Confirmed</span></li>
                <li class="status_line text-sm md:text-xl pb-16" data-status="prepared"><span>Preparation</span></li>
                <li class="status_line text-sm md:text-xl pb-16" data-status="delivered"><span>Out for delivery</span></li>
                <li class="status_line text-sm md:text-xl" data-status="completed"><span>Delivered</span></li>
            </ul>
            <% if(order.status != 'completed'){ %>    
            <div>
                <form action="/cancel-order" method="POST" class="mt-2 ml-12 lg:ml-64">
                    <div>
                        <button type="submit" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-10 ml-32">Cancel Order</button>
                        <input type="hidden" name="order_id" value="<%= order._id %>">    
                    </div>
                </form>
            </div> 
            <% } %>   
        </div>
    </div>
</section>